.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
	
}
nav {
    width: 100%;
    height: 45px;
    background-color: #252525;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    opacity: 0.9;
    -webkit-box-shadow: 0px 1px 20px #6B6B6B;
    box-shadow: 0px 1px 20px #6B6B6B;
    text-align: left;
    display: flex;
}
nav h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10;
    font-weight: 500;
    padding-left: 25px;
}
main article .bounce {
}


nav ul li {
    margin-left: 10px;
}
nav a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}
nav a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}
nav a:hover {
	padding-top: 20px;
    color: #D9FFF1;
    text-decoration: none;
    font-weight: 400;
}
nav ul {
    margin-right: 20px;
	    display: flex;
	}

header {
    text-align: center;
    font-style: italic;
    background-image: url(%E8%8E%AB%E8%8E%AB/%E8%83%8C%E6%99%AF%E5%9C%962.png);
    background-position: center center;
    background-size: contain;
    flex-direction: column;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 1600px;
    background-color: #000000;
}
body {font-family: 'Noto Sans TC', sans-serif;
}
main  {


}


main h2 {
    height: 28px;
    font-size: 28px;
    padding-top: 0px;
    margin-top: 5px;
    text-align: center;
}

article  {
    height: auto;
    width: 1000px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

main article div {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}



footer {
    text-decoration: none;
    text-align: center;
}
main article .container1 {
    margin: 5px;
    display: flex;
    flex: 1;
    width: 80%;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center center;
    background-size: contain;
}
article .container1 .left {
    display: flex;
    flex: 1;
    letter-spacing: 1px;
	text-align: justify;
  line-height: 25px;
  font-size: 20px;
  margin-right: 10px;
}

article .container1 .right {
    background-image: url(%E8%8E%AB%E8%8E%AB/2.png);
    background-position: center center;
    border-radius: 20px;
    margin-left: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    display: flex;
    flex: 1;
    background-size: cover;
}
article .bounce {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
main .bounce {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}
main article .container2 {
    margin: 10px;
    display: flex;
    flex: 1;
    width: 90%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-position: center center;
    background-size: contain;
    text-align: center;
}

article .container2 .left {
    background-image: url(%E8%8E%AB%E8%8E%AB/%E7%9B%9B%E6%B5%A9%E5%81%89%E4%BA%BA%E5%83%8F%E5%9C%96.jpg);
    background-position: center center;
    border-radius: 20px;
    margin-left: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    display: flex;
    flex: 1;
    background-size: cover;
    margin-right: 40px;
}
article .container2 .right {
    display: flex;
    flex: 1;
    letter-spacing: 1px;
	text-align: justify;
  line-height: 25px;
  font-size: 20px;
  margin-right: 10px;


}
main article .container3 {
	margin: 10px;
    display: flex;
    flex: 1;
    width: 90%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-position: center center;
    background-size: contain;
}
article .container3 .left {
	display: flex;
    flex: 1;
    letter-spacing: 1px;
	text-align: justify;
  line-height: 25px;
  font-size: 20px;
  margin-right: 10px;
}
article .container3 .right {
    background-image: url(%E8%8E%AB%E8%8E%AB/%E6%9C%B1%E5%AE%A5%E5%8B%B3%E4%BA%BA%E5%83%8F%E5%9C%96.jpg);
    background-position: center center;
    border-radius: 20px;
    margin-left: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    display: flex;
    flex: 1;
    background-size: cover;
    width: 100%;
    background-color: #E04F51;
}

body article {

}
.container #a04 {
    padding-top: 100px;
    background-color: #000000;
    color: #FFFFFF;
    line-height: 100px;

}
